<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SignIn</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style_auth.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body>
    <form id="form" method="post" action="/login_validation">
    <div class="container">
        <div class="form signin">
            <h2>Sign In</h2>
            <div class="inputBox">
                <input name="username" type="text" minlength="3" id="username" required>
                <i class="fa-solid fa-user"></i>
                <span>username</span>
            </div>
            <div class="inputBox">
                <input name="password" type="password" id="password" required minlength="8">
                <i class="fa-solid fa-lock"></i>
                <span>create password</span>
            </div>
            <div class="inputBox">

                <input type="submit" value="Sign In" class="create_submit">
            </div>
            <p>Don't have an account ? <a href="/register" class="signin">Sign In</a></p>
        </div>
    </div>
    </form>
</body>

</html>